*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    min-height: 80px;
    background-color: #f77d0c;
}
.logo_header{
    height: 15vh;
    width: auto;
    float: left;
    position: relative;
    bottom: 1.6vh;
}
.Title_start{
    height: 20vh;
    width: 50vw;
    font-size: 4em;
    position: relative;
    top: 30vh;
    right: 2.3vw;
}
.logo-img .logo{
    width: 200px;
    height: 40px;
    margin: 20px 10px;
    background: #fff;
    float: left;
}
.header-list nav ul{
    display: flex;
    flex-direction: row;
    padding: 28px 20px;
    gap: 2%;
}
.header-list nav ul a{
    text-decoration: none;
}
.header-list nav ul a li{
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}
.header-list a:first-of-type{
    border-left: 2px solid white;
    padding-left: 20px;
}
.search-box{
    position: relative;
    right: 20px;
    bottom: 60px;
    float: right;
    background-color: white;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box img{
    height: 20px;
}
.search-btn{
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    transition: 0.4s;
    font-size: 16px;
    line-height: 20px;
    width: 0px;
}
footer{
    width: 100%;
    min-height: 250px;
    background-color: #f77d0c;
}
.footer-list{
    padding-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
}
.list1 ul a, .list2 ul a, .list3 ul a, .list4 ul a{
    text-decoration: none;
    list-style: none;
}
.list1 ul a li, .list2 ul a li, .list3 ul a li, .list4 ul a li{
    color: white;
    font-size: 18px;
    margin-top: 5%;
}
.list1 ul a:hover, .list2 ul a:hover, .list3 ul a:hover, .list4 ul a:hover{
    text-decoration: underline;
    color: white;
}
.princ_moovie{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.princ_moovie h1{
    font-size: 4em;
    left: 10vw;
    position: relative;
    top: 20vh;
    width: 60vh;
}
.princ_moovie h2{
    font-size: 1.4em;
    left: 12vw;
    position: relative;
    top: 22vh;
    width: 60vh;
    
}
.assistir_bt{
    height: 5vh;
    width: 8vw;
    color: black;
    background-color: white;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 6px;
    font-size: 1.25em;
    left: 11vw;
    top: 25vh;
    position: relative;
    margin-right: 0.5em;
   
}
.fa-solid{
    color: black;
}
.catalago{
    height: 27em;
    background-color: #003a7b;
}
.catalago span{
    color: white;
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
    margin-left: 3.2vw;
}
.carrossel{
    margin-top: 0.8em;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 3.2vw;
    right: 0;
}
.carrossel .filmes{
    min-width: 15%;
}
.carrossel .filmes img{
    
}
body .video{
    height: 85%;
    width: 200vh;
    border: none;
}
.pgn{
    background: rgb(255,140,0);
    background: linear-gradient(130deg, rgba(255,140,0,1) 0%, rgba(255,140,0,1) 12%, rgba(0,58,123,1) 74%);
    width: 100%;
    height: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
.login{
    height: 40em;
    width: 34em;
    background-color: white;
    border-radius: 0.2em;
    position: relative;
    bottom: 5vh;
    border-radius: 3em;
}
.imagem1{
    height: 3em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.forms{
    width: 85%;
    height: 70%;
    margin-top: 0.5em;
    margin-left: 2.5em;
}
.forms h2{
    font-size: 3.6em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0.4em;
}
.forms h4{
    font-size: 1.5em;
    color: rgb(87, 87, 87);
    text-align: center;
}
.forms h3{
    font-size: 1em;
    color: rgb(146, 146, 146);
}
.forms input[type="text"]{
    height: 3.5em;
    width: 97%;
    font-size: 0.9em;
    padding-left: 1em;
    background-color:rgb(231, 230, 230);
}
.forms input[type="password"]{
    height: 3.5em;
    width: 97%;
    font-size: 0.9em;
    padding-left: 1em;
    background-color:rgb(231, 230, 230);
}
.nome{
    margin-top: 1.5em;
}
#name{
    background-image: url("imagem/Person-icon2.png");
    background-position-x: 97% ;
    background-position-y: center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    border: none;
    color: black;
}
.senha{
    background-image: url("imagem/eye_icon.png");
    background-position-x: 97%;
    background-position-y: center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    border: none;
    color: black;
}
.nome button{
    height: 2em;
    width: 9em;
    background-color: transparent;
    border: none;
    margin-left: -1em;
}
#subBotao{
    margin-block-start: 3em;
    font-size: 1.2em;
    height: 2.8em;
    width: 10em;
    color: white;
    background-color: rgb(96, 96, 255);
    border: none;
    border-radius: 2px;
}
.options{
    width: 100%;
    height: 2em;
    margin-top: 1em;
}
.options p{
    color: rgb(48, 48, 48);
    max-width: 8em;
    float: left;
}
.options input[type="checkbox"]{
    float: left;
    height: 1em;
    width: 1em;
    margin-top: 0.4em;
}
.options a{
    float: right;
}

